<div class="container">
    <div style="padding-top: 80px;"></div>
    <div ng-controller="OrganizationEditCtrl">
        <form class="form-horizontal" >
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Email</label>
                <div class="col-xs-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="r_organization.email" >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">name</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="name" placeholder="name" ng-model="r_organization.name"  >
                </div>
            </div>

            <div class="form-group">
                <label  class="control-label col-xs-2">website</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="website" placeholder="website" ng-model="r_organization.website">
                </div>
            </div>

            <div class="form-group">
                <label  class="control-label col-xs-2">twitter</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="twitter" placeholder="twitter" ng-model="r_organization.twitter">
                </div>
            </div>

            <div class="form-group">
                <label  class="control-label col-xs-2">facebook</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="facebook" placeholder="facebook" ng-model="r_organization.facebook">
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-xs-2">phone</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="phone" placeholder="phone" ng-model="r_organization.phone">
                </div>
            </div>

            <div class="form-group">
                <label  class="control-label col-xs-2">remarks</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="remarks" placeholder="remarks" ng-model="r_organization.remarks">
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-xs-2">event_id</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="event_id" placeholder="event_id" ng-model="r_organization.event_id">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <a type="button" href="/#/organizations" class="btn btn-primary">Back</a>
                    <button type="submit" class="btn btn-primary"  ng-click="submit()" >submit</button>
                </div>
            </div>
        </form>
        <pre>form = {{r_organization | json}}</pre>
        <pre>master = {{master | json}}</pre>
    </div>
</div>
