<div class="container" ng-controller="OrganizationIndexCtrl">
<div style="padding-top: 60px;"></div>
 <div class="row">
   <div class="pull-right" style="padding: 20px;">
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fileuploadModel">Organization Upload</button>
       <a type="submit" href="/#/organization/new" class="btn btn-primary"  ng-click="submit()" >New Organization</a>
   </div>
 </div>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
        <th>facebook</th>
        <th>Phone</th>
        <th>Remarks</th>
    </tr>
    </thead>
    <tbody></tbody>
    <!--<tbody  ng-repeat="organization in organizations">-->
    <!--<tr>-->
        <!--<td ng-click="viewRestaurant(organization.id)">{{ organization.name }}</td>-->
        <!--<td>{{ organization.email }}</td>-->
        <!--<td>Edinburgh</td>-->
        <!--<td>61</td>-->
        <!--<td>2011/04/25</td>-->
        <!--<td>$320,800</td>-->
    <!--</tr>-->
    <!--</tbody>-->
</table>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="fileuploadModel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">File upload</h3>
                </div>
                <div class="modal-body">
                    <div id="fileuploadsucess"></div>
                    <div class="progress">
                        <div id ="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <input type="file" file-model="organizationfile" id="organizationfile"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">Upload</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "bPaginate": true,
            "bProcessing": true,
            "bServerSide": true,
            "ajax": "/organizations.json"
        });
    } );
</script>
