<div style="padding-top: 80px;"></div>
<div class="container">
    <form class="form-horizontal" >
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Email</label>
            <div class="col-xs-10">
                {{organization.email}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">name</label>
            <div class="col-xs-10">
                {{organization.name}}
            </div>
        </div>

        <div class="form-group">
            <label  class="control-label col-xs-2">website</label>
            <div class="col-xs-10">
                {{organization.website}}
            </div>
        </div>

        <div class="form-group">
            <label  class="control-label col-xs-2">twitter</label>
            <div class="col-xs-10">
                {{organization.twitter}}
            </div>
        </div>

        <div class="form-group">
            <label  class="control-label col-xs-2">facebook</label>
            <div class="col-xs-10">
                {{organization.facebook}}
            </div>
        </div>
        <div class="form-group">
            <label  class="control-label col-xs-2">phone</label>
            <div class="col-xs-10">
                {{organization.phone}}
            </div>
        </div>

        <div class="form-group">
            <label  class="control-label col-xs-2">remarks</label>
            <div class="col-xs-10">
                {{organization.remarks}}
            </div>
        </div>
        <div class="form-group">
            <label  class="control-label col-xs-2">event_id</label>
            <div class="col-xs-10">
                {{organization.event_id}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <a type="button" href="/#/organizations" class="btn btn-primary"  ng-click="reset()" >Back</a>
                <a type="submit" href="/#/organizations/{{organization.id}}/edit" class="btn btn-primary">Edit Organization</a>
                <a type="submit" href="/#/organization/new" class="btn btn-primary"  ng-click="submit()" >New Organization</a>
            </div>
        </div>
    </form>
</div>