<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Event date</th>
      <th>Values type</th>
      <th>Message</th>
      <th>Status</th>
      <th>Result</th>
      <th>User</th>
      <th>Company</th>
      <th>Campaign</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_date %></td>
        <td><%= event.values_type %></td>
        <td><%= event.message %></td>
        <td><%= event.status %></td>
        <td><%= event.result %></td>
        <td><%= event.user_id %></td>
        <td><%= event.company_id %></td>
        <td><%= event.campaign_id %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
