<div ng-controller="loginIndexCtrl">
<div class="form-box" id="login-box">
    <div class="header">Sign In</div>

    <div ng-if="false">
        <li><a href="#" ng-click='logout()'>Sign out</a></li>
    </div>
    <form >
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User ID" ng-model="user.email">
            </div>
            <div class="form-group">
                <input type="password"  class="form-control" placeholder="Password" ng-model="user.password">
            </div>
            <div class="form-group">
                <input type="checkbox"  ng-model="user.remember_me"> Remember me
            </div>
        </div>
        <div class="footer">
            <button type="button" class="btn bg-olive btn-block" ng-click="login()">Sign me in</button>

            <p><a href="#">I forgot my password</a></p>

            <a href="/#/sign_up" class="text-center">Register a new membership</a>
        </div>
    </form>

    <div class="margin text-center">
        <span>Sign in using social networks</span>
        <br>
        <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
        <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
        <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

    </div>
</div>
</div>