<div ng-controller="loginIndexCtrl">
<div class="form-box" id="login-box">
    <div class="header">Register New Membership</div>
    <div>
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Full name" ng-model="user.email">
            </div>
            <div class="form-group">
                <input type="text" name="userid" class="form-control" placeholder="User ID">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password">
            </div>
            <div class="form-group">
                <input type="password" name="password2" class="form-control" placeholder="Retype password" ng-model="user.password_confirmation" >
            </div>
        </div>
        <div class="footer">

            <button type="button" class="btn bg-olive btn-block" ng-click="register()" >Sign me up</button>

            <a href="/#/login" class="text-center">I already have a membership</a>
        </div>
    </div>
    <pre>form = {{r_organization | json}}</pre>
    <pre>master = {{master | json}}</pre>
    <pre>test = {{User | json}}</pre>

    <div class="margin text-center">
        <span>Register using social networks</span>
        <br>
        <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
        <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
        <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

    </div>
</div>
</div>