.navbar-inverse {
    background-color: rgb(3, 3, 86) !important;
}
.navbar-inverse .navbar-brand {
    color: #fff !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.linkedin{
    background-image: url(/assets/Linkedin.png)  !important;
    background-repeat: no-repeat;
    color: black;
    background-position: center center;
    background-size: 32px 32px;
    height:42px;
    width:42px;
}
.rss{
    background-image: url(/assets/RSS.png) !important;
    background-repeat: no-repeat;
    color: black;
    background-position: center center;
    background-size: 32px 32px;
    height:42px;
    width:42px;

}
.page-header{
    margin: 40px 0 10px; !important;
}
.twitter{
    background-image: url(/assets/Twitter.png) !important;
    background-repeat: no-repeat;
    color: black;
    background-position: center center;
    background-size: 32px 32px;
    height:42px;
    width:42px;

}
.social_test{
    border-left : 1px solid;
    float:left;
    border-color:transparent;
}
.pointer{ cursor: pointer; }