<% if @count < @total_count %>
<% bar_value = 100.to_f / @total_count.to_f %>
<% person_width = (@count+1)*bar_value %>
fd = new FormData();
fd.append('count',<%=@count%>)
fd.append('file', $scope.organizationfile);
$http.post("/organizations/organization_upload.js", fd, {
    transformRequest: angular.identity,
    headers: {'Content-Type': undefined}
}).success(function(data, status, headers, config){
    eval(data)
});
$("#progress-bar").css("width","<%=person_width%>%");
<% else %>
$("#progress-bar").css("width","100%");
$('#fileuploadsucess').html("<div class='alert alert-success' role='alert'>File Upload Successful</div>");
/*global window: false */
window.location.reload(true);
//$('#fileuploadModel').modal('hide');
<% end %>