
<div class="footer">
  <div class="container">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-8 footer_render" style="padding-top:20px;padding-left:0px !important;">
          <div style="float:left;padding-right:20px;">
            <a href="javascript:void(0);" class="whiteboldlink">About Us</a>
          </div>
          <div style="float:left;padding-right:20px;">
            <a href="javascript:void(0);" class="whiteboldlink"> FAQ </a>
          </div>
          <div style="float:left;padding-right:20px;">
            <a href="javascript:void(0);" class="whiteboldlink">Contact Us </a>
          </div>
          <div style="float:left;padding-right:20px;">
            <a href="/#/login" class="whiteboldlink">Log In</a>
          </div>

        </div>
        <div class="col-md-1"></div>
        <div class="pull-right shareicon" style="padding-right:70px !important;">
          <div class="social_test">
            <a href="javascript:void(0);" target="_blank">
              <div class="social_test rss socila_hover"></div>
            </a>
          </div>
          <div class="social_test">
            <a href="javascript:void(0);" target="_blank">
              <div class="social_test twitter socila_hover"></div>
            </a>
          </div>
          <div class="social_test">
            <a href="javascript:void(0);" target="_blank">
              <div class=" social_test linkedin socila_hover"></div>
            </a>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top:10px !important;">
        <div class="col-md-4" style="padding:0px !important;font-size:11px;">
          Copyright @ 2014 jakers . All rights reserved.
        </div>
        <div class="col-md-4"></div>
        <div class="pull-right" style="font-size:11px !important;padding-top:2px !important;padding-right:52px !important;">
          <div style="padding:0px !important;float:left;padding:2px !important;">
            <a href="javascript:void(0);" class="whiteboldlink">Privacy Notice</a>
          </div>
          <div style="padding:0px !important;float:left;padding:2px !important;">
            <p style="color:white;">/</p>
          </div>
          <div style="padding:0px !important;float:left;padding:2px !important;">
            <a href="javascript:void(0);" class="whiteboldlink">Terms of Use</a>
          </div>
        </div>
      </div>
      <div style="clear:both;height:10px !important;"></div>
    </div>
  </div>
</div>