<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">JKLead Engine</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">About</a>
        </li>
        <li class="active">
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">States<b class="caret"></b></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/#/organizations">Organization</a>
            </li>
            <li>
              <a href="#">Auto Auctions</a>
            </li>
            <li>
              <a href="#">Real Estate Auctions</a>
            </li>
            <li>
              <a href="#">Foreclosure Auctions</a>
            </li>
            <li>
              <a href="#">Estate Sales</a>
            </li>
            <li>
              <a href="#">Online Auctions</a>
            </li>
            <li>
              <a href="#"> Art and Antique Auctions</a>
            </li>
            <li>
              <a href="#">Government Auctions</a>
            </li>
            <li>
              <a href="#">Police Auctions</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

